.toolbar-title {
  font-size: 1.5rem;
  font-family: emoji;
  margin-right: 16px;
}
.spacer {
  flex: 1 1 auto;
}
.home-button{
  font-size: large;
}
.drawer-container {
  height: 100vh;
}
.drawer {
  width: 250px;
  background-color: #ffffff;
  border-right: 1px solid #e0e0e0;
}
.drawer-content {
  /* padding: 20px; */
  background-color: #fafafa;
}
.mat-toolbar button {
  color: #ffffff;
}
.custom-slide-toggle {
  margin-right: 20px;
}
.mat-list-item {
  margin: 0;
  padding: 10px 20px;
  border-bottom: 1px solid #e0e0e0;
}
.mat-list-item button {
  width: 100%;
  text-align: left;
  color: #056dc5;
  font-weight: bold;
}
.mat-list-item button mat-icon {
  margin-right: 10px;
}
.mat-list-item:hover {
  background-color: #f0f0f0;
}
.mat-list-item.selected {
  background-color: #d0e6ff;
}
.sideNav-button{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  font-size: larger;
  flex-wrap: nowrap;

  left: 6px;
}