<section class="header-container">
    <mat-toolbar style="background-color: #056dc5f2;">
        <button (click)="drawer.toggle()" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <span class="toolbar-title">CHATBOT - OPENAI</span>
        <span class="spacer"></span>
        <button class="home-button" [matMenuTriggerFor]="lvl1master" mat-button>Home</button>
        <mat-menu #lvl1master="matMenu">
            <button [matMenuTriggerFor]="company" mat-menu-item>Company</button>
            <button mat-menu-item>Customer</button>
            <button mat-menu-item>Product</button>
        </mat-menu>
        <mat-menu #company="matMenu">
            <button mat-menu-item>Term</button>
        </mat-menu>
        <button mat-icon-button class="icon" aria-label="Share">
            <mat-icon>share</mat-icon>
        </button>
        <mat-slide-toggle class="custom-slide-toggle"></mat-slide-toggle>
    </mat-toolbar>

    <mat-drawer-container class="drawer-container" autosize>
        <mat-drawer #drawer class="drawer" mode="side" opened>
            <mat-nav-list>
                <mat-list-item>
                    <button class="sideNav-button" routerLink="userProfile" mat-button><mat-icon>person</mat-icon>User Profile</button>
                </mat-list-item>
                <mat-list-item class="chatbot-button">
                    <button class="sideNav-button" routerLink="" mat-button><mat-icon>chat</mat-icon> Chatbot</button>
                </mat-list-item>
                <mat-list-item>
                    <button class="sideNav-button" mat-button><mat-icon>settings</mat-icon> Settings</button>
                </mat-list-item>
                <mat-list-item>
                    <button class="sideNav-button" mat-button><mat-icon>help</mat-icon> Help</button>
                </mat-list-item>
            </mat-nav-list>
        </mat-drawer>
        <mat-drawer-content class="drawer-content">
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
</section>