<div class="profile-container mat-elevation-z3" *ngIf="userProfile">
    <div class="profile-header">
      <img mat-card-avatar class="profile-avatar" src="assets/images/back.jpg" alt="User Avatar">
      <div class="profile-info">
        <h2 class="profile-name">{{userProfile.profile.name}}</h2>
        <p class="profile-bio">{{userProfile.profile.bio}}</p>
        <p style="font-family: Arial, Helvetica, sans-serif; color: rgb(91, 94, 94);">Hey I am {{ userProfile.profile.name }},  {{ userProfile.profile.jobTitle }} at {{ userProfile.profile.company }}</p>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="profile-details">
      <mat-list>
        <mat-list-item>
          <mat-icon matListItemIcon>email</mat-icon>
          <div matLine>
            <h4 class="mat-headline">Email</h4>
            <p class="mat-body-1">{{userProfile.contact.email}}</p>
          </div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>phone</mat-icon>
          <div matLine>
            <h4 class="mat-headline">Phone</h4>
            <p class="mat-body-1">{{userProfile.contact.phone}}</p>
          </div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>location_on</mat-icon>
          <div matLine>
            <h4 class="mat-headline">Location</h4>
            <p class="mat-body-1">{{userProfile.contact.location}}</p>
          </div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon>apps</mat-icon>
          <div matLine>
            <h4 class="mat-headline">Other</h4>
            <p class="mat-body-1">Enter other details</p>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="profile-actions">
      <button (click)="navigateToEditProfile()" mat-raised-button color="primary">Edit Profile</button>
      <button (click)="navigateToSettings()" mat-raised-button>Settings</button>
    </div>
  </div>
  