.message {
    padding: 5px 10px;
    margin-bottom: 10px;
  }
 
  .user-message {
   align-self: flex-end;
    background-color: #92eddfb5;
    border-radius: 14px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-right: 8px;
    font-weight: bold;
    font-family: cursive;
  }
 
  .bot-message {
   align-self: flex-start;
    background-color: #88c7e7c2;
    border-radius: 14px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-right: 8px;
    font-weight: bold;
    font-family: monospace;
  }
  .chat-messages {
     flex: 1;
     overflow-y: auto;
   }