.chat-container {
    background-image: url('/assets/images/back.jpg');
    background-size: cover;
    background-position: center; 
      max-width: 100%;
      margin: 0 ;
      display: flex;
      flex-direction: column;
      height: 100%; 
      background-attachment: fixed;
    }
    .chat-main {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
   